@model RoomateApp.Models.MatchViewModel
@{
    ViewData["Title"] = "תוצאות התאמה";
}

<div class="container">
    <h1>תוצאות</h1>
    <h5>לפי נתוני ההעדפות שהזנת, אלו הדירות המתאימות ביותר</h5>
    <br />
    <table id="matches">
        <thead>
            <tr>
                <th>מזהה דירה</th>
                <th>שם בעל הדירה</th>
                <th>טלפון בעל הדירה</th>
                <th>עישון</th>
                <th>דת</th>
                <th>ניקיון</th>
                <th>בית צמחוני</th>
                <th>חברתי</th>
                <th>מטבח כשר</th>
                <th>בע"ח</th>
                <th>גיל</th>
                <th>מיקום</th>
                <th>מחיר</th>
                <th>סה"כ</th>
            </tr>
        </thead>
        @foreach (var match in Model.Matches.OrderByDescending(c => c.TotalRating))
    {
        <tr>
            <td>@match.ApartmentId</td>
            <td>@match.ApartmentOwnerFullName</td>
            <td>@match.ApartmentOwnerPhoneNumber</td>
            <td style="background-color: @( match.SmokeRating < 4 ? "#fc5353" : match.SmokeRating > 5 ? "#01e200" : "#ffff55" )">@match.SmokeRating</td>
            <td style="background-color: @( match.ReligiousRating < 4 ? "#fc5353" : match.ReligiousRating > 5 ? "#01e200" : "#ffff55" )">@match.ReligiousRating</td>
            <td style="background-color: @( match.CleanRating < 4 ? "#fc5353" : match.CleanRating > 5 ? "#01e200" : "#ffff55" )">@match.CleanRating</td>
            <td style="background-color: @( match.FoodIssuesRating < 4 ? "#fc5353" : match.FoodIssuesRating > 5 ? "#01e200" : "#ffff55" )">@match.FoodIssuesRating</td>
            <td style="background-color: @( match.SocialFormatRating < 4 ? "#fc5353" : match.SocialFormatRating > 5 ? "#01e200" : "#ffff55" )">@match.SocialFormatRating</td>
            <td style="background-color: @( match.KosherKitchenRating < 4 ? "#fc5353" : match.KosherKitchenRating > 5 ? "#01e200" : "#ffff55" )">@match.KosherKitchenRating</td>
            <td style="background-color: @( match.PetFriendlyRating < 4 ? "#fc5353" : match.PetFriendlyRating > 5 ? "#01e200" : "#ffff55" )">@match.PetFriendlyRating</td>
            <td style="background-color: @( match.AgePreferenceRating < 4 ? "#fc5353" : match.AgePreferenceRating > 5 ? "#01e200" : "#ffff55" )">@match.AgePreferenceRating</td>
            <td style="background-color: @( match.DistanceRating < 10 ? "#fc5353" : match.DistanceRating > 16 ? "#01e200" : "#ffff55" )">@match.DistanceRating</td>
            <td style="background-color: @( match.PriceRating < 10 ? "#fc5353" : match.PriceRating > 16 ? "#01e200" : "#ffff55" )">@match.PriceRating</td>
            <td style="font-weight: 600">@Html.Raw($"{match.TotalRating}%")</td>
        </tr>
    }
    </table>
    <br />
    <div class="legend">
        <div>* סימון ירוק מציג התאמה טובה של הפרמטר</div>
        <div>* סימון צהוב מציג התאמה בינונית של הפרמטר</div>
        <div>* סימון אדום מציג התאמה פחות טובה של הפרמטר</div>
    </div>
</div>

<style type="text/css">
    #matches {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

        #matches td, #matches th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #matches tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #matches tr:hover {
            background-color: #ddd;
        }

        #matches th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #7454a5;
            color: white;
        }

    .legend {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
</style>
